.container {
    display: flex;
  }
  
  .search {
    flex: 0 0 auto;
    background-color: #ccc;
    padding: 10px;
    margin-right: 10px;
  }
  
  .videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }