@font-face {
  font-family: 'San Francisco Bold';
  src: url(fonts/SF-Pro-Display-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'San Francisco';
  src: url(fonts/SFUIText-Regular.otf) format("opentype");
}

.container {
  display: flex;
}

h1{
  font-family: 'San Francisco Bold';
  color: rgba(2,42,91,255);
  font-size: 26px;
 }

 
h2{
  font-family: 'San Francisco Bold';
  color: rgba(2,42,91,255);
  font-size: 20px;
 }

 #search-for-moments{
  font-family: 'San Francisco Bold';
  color: 	rgb(78, 78, 78);
  font-size: 20px;
 }

.filter-box {
  width: 200px;
  background-color: #f1f1f1;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc; /* Add a lightly visible border */
  margin-top: 30px;
}

.filter-header {    
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hide-button {
  background-color:rgba(2,42,91,255);
  font-size: 16px;
  color: white;
  border: none;
  padding: 3px 3px;
  cursor: pointer;
  border-radius: 5px; /* Adds round edges */
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 840px;
  height: 40px;
  margin-bottom: 15px; /* Add a margin-bottom of 15 pixels */
  border-radius: 5px;
  border: 3px solid #d6d6d6; /* Set a slight gray border */
}

.search-bar input[type="text"] {
  padding-right: 35px; /* Add space for the button on the right */
  width: 100%; /* Fill the remaining width */
  height: 100%;
  border: none; /* Remove the default input border */
  border-radius: 5px; /* Match the search bar's border radius */
  outline: none; /* Remove the outline when focused */
}

input{
  text-indent: 10px;
}


.video-captions-container {
  display: flex;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the margin on the right as needed */
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captions-box {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  position: relative; /* Add relative positioning */
}

.captions-container {
  flex-grow: 1;
  overflow-y: auto;
}

.highlight {
  color: rgb(223,223,8);
}


.video-list-num-captions{
  font-size: 18px;
  color: #333;
  font-family: 'San Francisco Bold';
  color: rgb(223,223,8);
  text-align: right;
}

.number-of-captions {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto; /* Add auto margin for horizontal centering */
  font-size: 20px;
  color: #333;
  position: absolute;
  bottom: -15px;
  font-family: 'San Francisco Bold';
  color: rgb(223,223,8);
  left: 0;
  right: 0;
  text-align: center; /* Center the text within the element */
}
.caption {
  font-family: 'San Francisco Bold';
}

.caption:hover {
  background-color: rgb(179, 179, 179);
  border-radius: 3px;
}

.caption .first-word {
  color: blue;
}

.captions {
  flex: 1;
  max-width: 300px; /* Adjust the maximum width as needed */
}

.captions h2 {
  margin-top: 0;
}

.captions-list {
  list-style-type: none;
  padding: 20px;
  max-height: 400px; /* Adjust the maximum height as needed */
  margin-bottom: 25px;
  overflow: auto; /* Enable scrolling if the captions exceed the maximum height */
}

.hide-captions-button {
  background-color: rgba(2,42,91,255);
  font-size: 16px;
  color: white;
  border: none;
  padding: 3px 3px;
  cursor: pointer;
  border-radius: 5px; /* Adds round edges */
  position: absolute; /* Add absolute positioning */
  top: 10px;
  right: 10px;
}

.results-container {
  position: relative;
  margin-top: 30px;
}

.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.results-header h2 {
  margin: 0;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 1px; /* Adds round edges */
  font-size: 16px;
  border: 1px solid #ccc; /* Add a lightly visible border */
  cursor: pointer;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c9c9c9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}

.video-list {
  padding: 10px;
}

.video-list {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 30px; /* Add a top margin of 100px */
  border-radius: 5px;
  max-width: 260px; /* Set the maximum width of the video list box */
  max-height: 600px; /* Set the maximum height of the video list box */
  overflow: auto; /* Enable vertical scrolling if the content exceeds the maximum height */
}

.video-list h2 {
  margin-top: 0;
}

.video-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.video-list li {
  margin-bottom: 10px;
}

.video-title{
  font-family: 'San Francisco Bold';
  font-size: 14px;
}

.video-box {  
  width: 240px;
  height: 160px;
}

.video-info {
  width: 240px;
  text-align: left;
  font-family: 'San Francisco';
}

.video-info p {
  margin-top: 2px;
  margin-bottom: 4px; /* Adjust the value to control the spacing between paragraphs */
}

