@font-face {
  font-family: 'San Francisco Bold';
  src: url(fonts/SF-Pro-Display-Bold.otf) format("opentype");
}

.container {
  display: flex;
}

h1{
  font-family: 'San Francisco Bold';
  color: rgba(2,42,91,255);
  font-size: 26px;
 }

 
h2{
  font-family: 'San Francisco Bold';
  color: rgba(2,42,91,255);
  font-size: 20px;
 }

.filter-box {
  width: 200px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc; /* Add a lightly visible border */
  margin-top: 30px;
}

.filter-header {    
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hide-button {
  background-color:rgba(2,42,91,255);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px; /* Adds round edges */
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 840px;
  height: 30px;
  margin-bottom: 15px; /* Add a margin-bottom of 15 pixels */
}

.search-bar input[type="text"] {
  padding-right: 35px; /* Add space for the button on the right */
  width: 100%; /* Fill the remaining width */
  height: 100%;
}


.video-captions-container {
  display: flex;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the margin on the right as needed */
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
}

.video-container {
  margin-right: 10px;
}

.video-container iframe {
  margin-right: 10px;
}

.captions-box {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  position: relative; /* Add relative positioning */
}

.captions-container {
  flex-grow: 1;
  overflow-y: auto;
}

.number-of-captions {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto; /* Add auto margin for horizontal centering */
  font-size: 20px;
  color: #333;
  position: absolute;
  bottom: -15px;
  font-family: 'San Francisco Bold';
  color: yellow;
  left: 0;
  right: 0;
  text-align: center; /* Center the text within the element */
}
.caption {
  font-family: 'San Francisco Bold';
}

.caption .first-word {
  color: blue;
}

.captions {
  flex: 1;
  max-width: 300px; /* Adjust the maximum width as needed */
}

.captions h2 {
  margin-top: 0;
}

.captions-list {
  list-style-type: none;
  padding: 20px;
  max-height: 400px; /* Adjust the maximum height as needed */
  margin-bottom: 25px;
  overflow: auto; /* Enable scrolling if the captions exceed the maximum height */
}

.hide-captions-button {
  background-color: rgba(2,42,91,255);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px; /* Adds round edges */
  position: absolute; /* Add absolute positioning */
  top: 10px;
  right: 10px;
}

.results-container {
  position: relative;
  margin-top: 30px;
}

.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.results-header h2 {
  margin: 0;
}

.dropdown-button {
  background-color: rgba(2,42,91,255);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.video-list {
  padding: 10px;
}

.video-list {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 100px; /* Add a top margin of 100px */
  border-radius: 5px;
  max-width: 260px; /* Set the maximum width of the video list box */
  max-height: 480px; /* Set the maximum height of the video list box */
  overflow: auto; /* Enable vertical scrolling if the content exceeds the maximum height */
}

.video-list h2 {
  margin-top: 0;
}

.video-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.video-list li {
  margin-bottom: 10px;
}

